@charset "UTF-8";

@font-face {
    font-family: 'peru';
    src: url('fontes/CFPeruAdventure-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans"
}

html,body{
	height: 100%;
}

body{
    background-color: white;
}
#logo{
    text-align: center;
    font-family: 'peru', 'Times New Roman', Times, serif;
    width: 100%;
    font-style: normal;
    font-size: 6vw;
    color: red;
    padding: 1.5% 0;
}
.menu{
    background-color: red;
    padding: 1% 1%;
    
}
div > p{
    display: none;
}
div:hover > p{
    display: block;
    color: black;
    background-color: red;
    width: 300px;
    
}
div:hover{
    color: white;
}