@charset "UTF-8";

@font-face {
    font-family: 'sriracha';
    src: url(../fontes/Sriracha-Regular.ttf) format(opentype);
    font-weight: bold;
}
@font-face {
    font-family: 'passionone-bold';
    src: url(../fontes/PassionOne-Bold.ttf) format(truetype);
}

:root{
    --cor0:black;
    --cor1:white;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-header: 'passionone-bold', cursive;
    --fonte-texto: 'sriracha', cursive;
}

body{
    margin: 0px;
    background-color: var(--cor1);
}

header{
    background-color: var(--cor0);
    padding-top: 50px;
}

header>h1{
    font-family: var(--fonte-header);
    color: var(--cor1);
    text-align: center;
    font-size: 10vw;
    margin: 0px;
}

header>p{
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    text-align: center;
    padding-bottom: 50px;
}

.linkmilton{
    font-size: larger;
    font-weight: bolder;
    color: var(--cor1);
    text-decoration: none;
}

.linkmilton:hover{
    text-decoration: underline;
}

section{
    
}
.paragrafo{
    font-family: var(--fonte-texto);
    font-size: 5vw;
    padding-left: 3px;
}
